@import "~bootstrap/dist/css/bootstrap.min.css";

body,
html {
  height: 100%;
  margin: 0;
  position: relative;
}
nav {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: #333;
  color: white;
  font-weight: bold;
  padding: 10px 0;
  font-size: larger;
}

div h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  display: flex;
  flex-direction: column; /* Align items vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  height: 100%; /* Take up full height of viewport */
}

#excuse {
  font-size: 30px;
}
